<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
      <h1>トピック一覧画面</h1>
      <p id="notice"><%= notice %></p>
      <% if @topic.errors.any? %>
        <div id="error_explanation">
          <h2><%= @topic.errors.count %>件のエラーがあります。</h2>
          <ul>
          <% @topic.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_for(@topic) do |f| %>
        <%= f.text_field :title, class: 'form-control'%><br>
        <%= f.text_field :content, class: 'form-control'%><br>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block'%><br>
      <% end %>
      <% @topics.each do |topic| %>
        <div class="row">
          <div class="user_info">
            <%if false%> <%= profile_img(topic.user)%><% end %>
            <%= topic.user.name%>
            <small><%= topic.created_at %>に投稿</small><br>
          </div>
          <div class="content">
            <%= link_to topic_path(topic) do%>
              <strong><%= topic.title %></strong><br>
            <% end %>
            <%= topic.content %><br>
          </div>
          <%= link_to '', edit_topic_path(topic), class: "fa fa-pencil-square-o fa-lg" %>
          <%= link_to '', topic_path(topic), class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: '本当に削除していいですか？' } %>
        </div>
      <% end %>
  </div>
</div>
